
<p>Bonjour {{ name }},</p>
<p>Un nouveau payement vous est parvenu.</p>
<p>&nbsp;</p>
<p>Détail de la transaction -------------------------------------</p>
<p><strong>Produit:</strong> {{ product }}<br><strong>Methode de payement:</strong> {{ method }}<br><strong>Date de la transaction:</strong> {{ datetime }}<br><strong>Donneur d'ordre:</strong> {{ client_name }}<br><strong>Montant du transfert:</strong> {{ amount }} €<br><strong>Numéro de transaction:</strong> {{ token }}</p>
<p>--------------------------------------------------------------</p>
<p>Pour tout complément d'information veuillez contacter info@ipefix.com</p>
<p>Cordialement, l'équipe d'Ipefix.</p>