{% extends "Email/email-master.html.twig" %}

{% block content %}
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Bonjour {{ name }},</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Votre virement banquaire est en cour de traitement.</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Vous serez averti ultérieurement de tout changement de situation.</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">&nbsp;</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Détail de la transaction -------------------------------------</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><strong>Produit:</strong> {{ product }}<br><strong>Methode de payement:</strong> {{ method }}<br><strong>Date de la transaction:</strong> {{ datetime }}<br><strong>Bénéficiaire:</strong> {{ client_name }}<br><strong>Montant du transfert:</strong> {{ amount|raw }}<br><strong>Numéro de transaction:</strong> {{ token }}</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">--------------------------------------------------------------</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Pour tout complément d'information veuillez contacter <a href="mailto:{{ client_email }}" style="text-decoration: underline; font-size: 14px; text-align: center;">{{ client_email }}</a></p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Cordialement, {{ client_name }}</p>
{% endblock %}

{% block footer %}
Powered by <a href="http://www.ipefix.com" style="color: #999999; font-size: 12px; text-align: center; text-decoration: none;">Ipefix Luxembourg</a>.
{% endblock %}